<div class="col s12 m12 l12">
  <div class="conte">
      <img src="/images/pex2.jpg" alt="" class="inicio2">
      <div class="row">



      <div class="col s12 m12 l12 logeoIndex">

        <div class="col s0 m2 l2">
          <br>
        </div>

         <div class="col s12 m6 l6 left">
           <h2 class="tituloBeneficio3">SUNN, creando comunidades de innovación</h2>
           <span class="black-text">
             Startup, inversionistas, empresas y grupos de investigación y desarrollo en un mismo lugar
           </span>
           <br><br>

           <div class="row">
             <div class="col s6 m6 l6 center">
               <img src="/images/tube.png" alt="" class="beneficios">
               <h3 class="orange-text">254</h3>
               <p class="tituloBeneficio4">Grupos de investigacion y desarrollo</p>

             </div>
             <div class="col s6 m6 l6 center">
               <img src="/images/avion.png" alt="" class="beneficios">
               <h3 class="orange-text">254</h3>
               <p class="tituloBeneficio4">Grupos de investigacion y desarrollo</p>

             </div>
           </div>
           <br>
           <div class="row">
             <div class="col s6 m6 l6 center ">
               <img src="/images/money.png" alt="" class="beneficios">
               <h3 class="orange-text">254</h3>
               <p class="tituloBeneficio4">Grupos de investigacion y desarrollo</p>


             </div>
             <div class="col s6 m6 l6 center">
               <img src="/images/maletin.png" alt="" class="beneficios">
               <h3 class="orange-text">254</h3>
               <p class="tituloBeneficio4">Grupos de investigacion y desarrollo</p>


             </div>
           </div>

         </div>

        <div class="col s12 m4 l4 right white z-depth-3 cajonFormulario" >
          <br><br>
          <h2 class="center tituloBeneficio">Registro</h2>
          <br>

          <div class="formularioLogin center ">




            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>
              <div class="row">
                <div class="col s12 m6 l6">
                 <div class="input-field col s12 m12 l12">
                   <%= f.label :Nombres %><br />
                   <%= f.text_field :name, autofocus: true, autocomplete: "Nombres" %>
                 </div>
                </div>
                <div class="col s12 m6 l6">
                 <div class="input-field col s12 m12 l12">
                   <%= f.label :Apellidos %><br />
                   <%= f.text_field :lastname, autofocus: true, autocomplete: "Apellidos" %>

                 </div>
                </div>
              </div>

              <div class="row">
                <div class="col s12 m6 l6">
                 <div class="input-field col s12 m12 l12">
                   <%= f.label :Usuario %><br />
                   <%= f.text_field :nick, autofocus: true, autocomplete: "Usuario" %>
                 </div>
                </div>
                <div class="col s12 m6 l6">
                 <div class="input-field col s12 m12 l12">
                   <%= f.label :Email %><br />
                   <%= f.email_field :email, autofocus: true, autocomplete: "Email" %>

                 </div>
                </div>
              </div>

              <div class="row">
                <div class="col s12 m12 l12">
                 <div class="input-field col s12 m12 l12">
                       <label for="">Comunidad a pertenecer</label>
                       <br>
                       <% comunidades = { 'Grupos de investigacion y desarrollo' => 'Grupos I+D', 'Startups' => 'Startup',
                       'inversionistas' => 'inversionistas', 'Empresas' => 'Empresas',
                       } %>
                       <% lista_comu = comunidades %>
                       <%= f.select :comunidad, lista_comu,  id: :comunidad %>
                 </div>
                </div>

              </div>


              <div class="row">
                <div class="col s12 m6 l6">
                 <div class="input-field col s12 m12 l12">
                   <%= f.label :Contraseña %>
                   <% if @minimum_password_length %>
                   <% end %><br />
                   <%= f.password_field :password, autocomplete: "new-password" %>

                 </div>
                </div>
                <div class="col s12 m6 l6">
                 <div class="input-field col s12 m12 l12">
                   <%= f.label :Confirmar_Contraseña %><br />
                   <%= f.password_field :password_confirmation, autocomplete: "new-password" %>

                 </div>
                </div>
              </div>
              <div class="actions">
                <%= f.submit "Ingresar" ,class:"regis2 mostaza white-text"%>
              </div>
              <br>
              <br>
            <% end %>

          </div>

        </div>
              </div>

      </div>


  </div>

</div>
