<nav>
    <div class="nav-wrapper">
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <%=link_to (image_tag("/images/sunn.png" , class:"logo") ),root_path , class:"brand-logo" %>
      <ul class="right hide-on-med-and-down">
        <li><%= link_to "Inicio", root_path , class:"tituloBeneficio3"%> </li>
        <li><%= link_to "Retos", root_path , class:"tituloBeneficio3" %> </li>
        <li><%= link_to "Contacto", root_path , class:"tituloBeneficio3" %> </li>
        <li>



        <% if signed_in? %>
        <li>
          <span class="orange-text perfilTe"><%= current_user.email %></span>

          <%=link_to  (image_tag("/images/person.png" , class:"logo2") ),edit_user_registration_path , class:"brand-logo" %>
          <%= link_to "Perfil", edit_user_registration_path , class:"white-text btn logeo mostaza" %>
        </li>


        <li>
          <%=link_to  (image_tag("/images/close.png" , class:"logo2") ),new_user_session_path , class:"brand-logo" %>
          <%= link_to "Salir", destroy_user_session_path, method: :delete , class:"white-text btn logeo mostaza" %>
        </li>

         <% else %>
        <li>
          <%=link_to  (image_tag("/images/person.png" , class:"logo2") ),new_user_session_path , class:"brand-logo" %>
          <%= link_to "Ingresar", new_user_session_path , class:"white-text btn logeo mostaza" %>
        </li>
          <li>
            <%=link_to  (image_tag("/images/pencil.png" , class:"logo3") ),new_user_registration_path , class:"brand-logo" %>
            <%= link_to "Registrarse", new_user_registration_path , class:"white-text btn logeo mostaza" %>
          </li>
        <% end %>


      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><%= link_to "Inicio", root_path %> </li>
    <li><%= link_to "Inicio", root_path , class:"tituloBeneficio3"%> </li>
    <li><%= link_to "Retos", root_path , class:"tituloBeneficio3" %> </li>
    <li><%= link_to "Contacto", root_path , class:"tituloBeneficio3" %> </li>
    <li>
    <% if signed_in? %>
    <li>
      <span class="orange-text perfilTe"><%= current_user.email %></span>
      <%=link_to  (image_tag("/images/person.png" , class:"logo2") ),edit_user_registration_path , class:"brand-logo" %>
      <%= link_to "Perfil", edit_user_registration_path , class:"white-text btn logeo mostaza" %>
    </li>


    <li>
      <%=link_to  (image_tag("/images/close.png" , class:"logo2") ),new_user_session_path , class:"brand-logo" %>
      <%= link_to "Salir", destroy_user_session_path, method: :delete , class:"white-text btn logeo mostaza" %>
    </li>

     <% else %>
    <li>
      <%=link_to  (image_tag("/images/person.png" , class:"logo2") ),new_user_session_path , class:"brand-logo" %>
      <%= link_to "Ingresar", new_user_session_path , class:"white-text btn logeo mostaza" %>
    </li>
      <li>
        <%=link_to  (image_tag("/images/pencil.png" , class:"logo3") ),new_user_registration_path , class:"brand-logo" %>
        <%= link_to "Registrarse", new_user_registration_path , class:"white-text btn logeo mostaza" %>
      </li>
    <% end %>

  </ul>
