<br><br>
<footer class="page-footer pie">
    <div class="container ">
      <div class="row">
        <div class="col s12 m5 l5 left">
            © 2019, SUNN Política de tratamiento de datos. www.rutan.co
        </div>
        <div class="col s12 m7 l7">
          <ul class="listadoPie">
            <li><a class="center" href="#!"><img src="/images/face.png" alt="" class="iconosPie "> <br> <h5 class="pieRedes">Noticias</h5> </a></li>
            <li><a class="center" href="#!"><img src="/images/twitter.png" alt="" class="iconosPie"><br> <h5 class="pieRedes">Contáctenos</h5></a></li>
            <li><a class="center" href="#!"><img src="/images/link.png" alt="" class="iconosPie"><br> <h5 class="pieRedes">Registrarse</h5></a></li>
            <li><a class="center" href="#!"><img src="/images/meseng.png" alt="" class="iconosPie"><br> <h5 class="pieRedes">Politicas de privacidad</h5></a></li>
          </ul>
        </div>
      </div>
    </div>

  </footer>
