
<div class="col s12 m12 l12 ">
  <div class="rasco">
    <img src="/images/pex.jpg" alt="brain storm" class="inicio">
    <div class="parrafoInicial">
      <h1 class="white-text">Comunidad virtual de <br> innovación tecnológica</h1>
      <p class="white-text">Conectamos las ofertas con las demandas. Startup, inversionistas, empresas y grupos <br>
        de investigación y desarrollo en un mismo lugar. Registra tu empresa</p>
      <br>
      <%= link_to "Regístrarse", new_user_registration_path , class:"white-text btn logeo4 mostaza" %>

    </div>
  </div>


</div>
<div class="que  valign-wrapper">
  <div class="container">
    <div class="row ">
    <div class="center white-text">
      <h1 class="letraMostaza">¿Qué es Sunn?</h1>
      <p>SUNN, es una COMUNIDAD DE INNOVACIÓN VIRTUAL que permite a los usuarios comunicarse con otros
         ACTORES afines a sus capacidades o necesidades tecnológicas para generar conexiones estratégicas
         basadas en 5 grandes ecosistemas: Materiales Avanzados, Tecnologias Limpias, Energía, TIC´s, Ciencias de la Vida.
       </p>
   </div>
  </div>
 </div>
</div>
<div class="row">
  <div class="center">
    <h1 class="center blue-text">Beneficios</h1>
    <span >Tenemos ideas enfocadas para cada publico</span>
  </div>

<div class="col s12 m12 l12 listadoBeneficios">


    <div class="col s12 m3 l3 center  cajonBeneficio">
        <br>
      <img src="/images/tube.png" alt="" class="beneficios">
      <br>
      <h2 class="tituloBeneficio">Grupo de Investigacion y desarrollo</h2>
      <p>Si haces parte de un grupo de investigación y desarrollo: Convierte
        tus desarrollos en productos y servicios rentables.
        SUNN tiene para ti aliados estratégicos para ayudarte a potenciar tus investigaciones.
      </p>

    </div>
    <div class="col s12 m3 l3 center cajonBeneficio">
        <br>
      <img src="/images/avion.png" alt="" class="beneficios">
      <br>
      <h2 class="tituloBeneficio">Startups</h2>
      <p>Si haces parte de un grupo de investigación y desarrollo: Convierte
        tus desarrollos en productos y servicios rentables.
        SUNN tiene para ti aliados estratégicos para ayudarte a potenciar tus investigaciones.
      </p>

    </div>
    <div class="col s12 m3 l3 center cajonBeneficio">
        <br>
      <img src="/images/money.png" alt="" class="beneficios">
      <br>
      <h2 class="tituloBeneficio">Inversionistas</h2>
      <p>Si haces parte de un grupo de investigación y desarrollo: Convierte
        tus desarrollos en productos y servicios rentables.
        SUNN tiene para ti aliados estratégicos para ayudarte a potenciar tus investigaciones.
      </p>

    </div>
    <div class="col s12 m3 l3 center cajonBeneficio">
        <br>
      <img src="/images/maletin.png" alt="" class="beneficios">
      <br>
      <h2 class="tituloBeneficio">Empresas</h2>
      <p>Si haces parte de un grupo de investigación y desarrollo: Convierte
        tus desarrollos en productos y servicios rentables.
        SUNN tiene para ti aliados estratégicos para ayudarte a potenciar tus investigaciones.
      </p>

    </div>

  </div>



</div>

<div class="row contenedorSunn">
  <div class="col s0 m4 l4">
    <img src="/images/rocket.png" alt="" class="inicio">

  </div>
  <div class="col s12 m8 l8">
    <h2 class="tituloBeneficio ">Sunn pone a tu disposición excelentes <br>
      opciones para compartir en comunidad
    </h2>
    <div class="row ">
      <div class="col s6 m6 l6">

        <h3 class="tituloBeneficio"><i class="material-icons chequeoSunn white-text">check</i> Radar de Scouting</h3>
        <span>Explora , identifica y conecta <br>
          con actores de innovación y <br>
           necesidades de empresas.
        </span>

      </div>
      <div class="col s6 m6 l6">
        <h3 class="tituloBeneficio"><i class="material-icons chequeoSunn white-text">check</i> Salas de innovación</h3>
        <span>Interactúa con potenciales <br>
          aliados a través de mensajes.
        </span>

      </div>
    </div>
    <div class="row ">
      <div class="col s6 m6 l6">
        <h3 class="tituloBeneficio"><i class="material-icons chequeoSunn white-text">check</i> Referidos</h3>
        <span>Recomienda perfiles de <br>
          empresas y requerimientos a<br>
           otros amigos.
        </span>

      </div>
      <div class="col s6 m6 l6">
        <h3 class="tituloBeneficio"><i class="material-icons chequeoSunn white-text">check</i> Retos</h3>
        <span>Publica necesidades y retos <br>
          específicos o realiza <br>
          propuestas de solución a retos <br>
          existentes
        </span>

      </div>
      <div class=" col s12 m12 l12 center">
        <h5 class="tituloBeneficio2">Haz parte de la comunidad Sunn</h5>

         <%= link_to "Registrarse", new_user_registration_path , class:"btn mostaza regis"%>
      </div>
    </div>

  </div>
</div>

<div class="row ">
  <div class="center">
    <h1 class="tituloBeneficio">Retos</h1>
    <span>SUNN, tiene estos retos disponibles para ti</span>
    <br>  <br>

<div class="row">

      <div class="col s12 m4 l4 ">
        <div class="card">
          <div class="card-image">
              <img src="/images/city.jpg" alt="" class="">
          </div>
          <div class="card-content">
            <span class="card-title tituloBeneficio">Porsche Colombia SAS </span>
            <h6>¿Como involucro al cliente en una experiencia digital de servicio posventa?</h6>
            <p>Necesidad de contacto online y agilidad de agendamiento en el servicio post venta de vehiculos...
            </p>

            <br>
            <span><img src="/images/copa.png" alt="" class="retoLogo">Por Definir</span>
          </div>
          <div class="card-action">
            <%= link_to "Ver reto", new_user_registration_path , class:"btn verReto"%>
               <br>
               <ul class="listadoFehcas">
                 <li><a class="left"><span>Publicado: 2019-03-25</span></a>
                 </li>
                 <li><a class="right"><span>Cierra: 2019-05-26</span></a></li>
               </ul>


          </div>
        </div>
      </div>

      <div class="col s12 m4 l4">
        <div class="card">
          <div class="card-image">
              <img src="/images/moda.jpg" alt="" class="">
          </div>
          <div class="card-content">
            <span class="card-title tituloBeneficio">Mercadeo y Moda S.A.S Title</span>
            <h6>¿Como involucro al cliente en una experiencia digital de servicio posventa?</h6>
            <p>Necesidad de contacto online y agilidad de agendamiento en el servicio post venta de vehiculos...
            </p>

            <br>
            <span><img src="/images/copa.png" alt="" class="retoLogo">Por Definir</span>
          </div>
          <div class="card-action">
              <%= link_to "Ver reto", new_user_registration_path , class:"btn verReto"%>
              <br>
              <ul class="listadoFehcas">
                <li><a class="left"><span>Publicado: 2019-03-25</span></a>
                </li>
                <li><a class="right"><span>Cierra: 2019-05-26</span></a></li>
              </ul>
          </div>
        </div>
      </div>

      <div class="col s12 m4 l4">
        <div class="card">
          <div class="card-image">
              <img src="/images/transporte.jpg" alt="" class="">
          </div>
          <div class="card-content">
            <span class="card-title tituloBeneficio">Logistic Freight Solutions</span>
            <h6>¿Como involucro al cliente en una experiencia digital de servicio posventa?</h6>
            <p>
              Necesidad de contacto online y agilidad de agendamiento en el servicio post venta de vehiculos...
            </p>
            <br>
            <span><img src="/images/copa.png" alt="" class="retoLogo">Por Definir</span>
          </div>
          <div class="card-action">
            <%= link_to "Ver reto", new_user_registration_path , class:"btn verReto"%>
            <br>
            <div class="linksFechas">
              <ul class="listadoFehcas">
                <li><a class="left"><span>Publicado: 2019-03-25</span></a>
                </li>
                <li><a class="right"><span>Cierra: 2019-05-26</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
</div>


  </div>

</div>

<div class="row center">
  <%= link_to "Ver todos los retos", new_user_registration_path , class:"btn azulSunn regis"%>


</div>
