<div class="col s12 m12 l12">
  <div class="conte">
      <img src="/images/pex2.jpg" alt="" class="inicio2">
      <div class="row">

      <div class="col s12 m12 l12 logeoIndex">

        <div class="col s0 m0 l1">
          <br>
        </div>

         <div class="col s12 m6 l5 left">
           <h2 class="tituloBeneficio3">SUNN, creando comunidades de innovación</h2>
           <span class="black-text">
             Startup, inversionistas, empresas y grupos de investigación y desarrollo en un mismo lugar
           </span>
           <br><br>

           <div class="row">
             <div class="col s6 m6 l6 center">
               <img src="/images/tube.png" alt="" class="beneficios">
               <h3 class="orange-text">254</h3>
               <p class="tituloBeneficio3">Grupos de investigacion y desarrollo</p>

             </div>
             <div class="col s6 m6 l6 center">
               <img src="/images/avion.png" alt="" class="beneficios">
               <h3 class="orange-text">254</h3>
               <p class="tituloBeneficio3">Startups</p>

             </div>
           </div>
           <br>
           <div class="row">
             <div class="col s6 m6 l6 center ">
               <img src="/images/money.png" alt="" class="beneficios">
               <h3 class="orange-text">254</h3>
               <p class="tituloBeneficio3">inversionistas</p>


             </div>
             <div class="col s6 m6 l6 center">
               <img src="/images/maletin.png" alt="" class="beneficios">
               <h3 class="orange-text">254</h3>
               <p class="tituloBeneficio3">Empresas</p>


             </div>
           </div>

         </div>

        <div class="col s12 m4 l4 right white z-depth-3 cajonFormulario" >
          <br><br><br>
          <h2 class="center tituloBeneficio">Iniciar Sesion</h2>

          <div class="formularioLogin center ">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="field">

                <%= f.email_field :email, autofocus: true, autocomplete: "email" ,placeholder:"Email" %>
              </div>

              <div class="field">

                <%= f.password_field :password, autocomplete: "current-password",placeholder:"Contraseña" %>
              </div>



              <div class="actions">
                <%= f.submit "Ingresar" ,class:"regis2 mostaza white-text"%>
              </div>
              <br>
            <% end %>

            <%= render "devise/shared/links" %>
          </div>
          <br><br><br><br>

        </div>
      </div>

      </div>


  </div>


</div>
<br><br><br><br><br>
<div class="container simulado">
  <div class="row">
    <div class="col s12 m12 l12 center ">
      <h2 class="tituloBeneficio3">Simulador de Busqueda</h2>
      <span>Descrubre Ecosistemas de innovación en SUNN que coinciden con tu industria</span>
      <br><br><br>
      <div class="col s12 m6 l6">
        Selecciona una opcion a la que pertenezca tu industria:
      </div>

      <div class="col s12 m6 l6">
        <div class="input-field col s12">
            <select>
              <option value="" disabled selected>Selecciona una opcion</option>
              <option value="1">Grupos de investigacion</option>
              <option value="2">Startups</option>
              <option value="3">Inversionistas</option>
              <option value="3">Empresas</option>
            </select>

        </div>

      </div>
      <br><br><br>
      <a href="" class="btn azulSunn regis center">Simular</a>





    </div>

  </div>
</div>
