/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "https://fonts.googleapis.com/icon?family=Material+Icons";

 @import 'materialize';

 @import "materialize/extras/nouislider";




h1,h2,h3,li{
  font-family: 'Poppins', sans-serif;
}
p{
  font-family: 'Poppins', sans-serif;
}
body{
  width: 100%;
  height: 100%;
  font-family: 'Rubik', sans-serif;
}
nav{
  top: 0;
  z-index: 1000;
  position: fixed;
  background-color: #ffffffa3 !important;
}

.logo{
  margin: 5px;
  width: 40%;
}
.logeo{
  padding-left: 40px;
  border-radius: 25px;
  font-family: 'Rubik', sans-serif;
  font-size: 1.1em;
  font-weight: bold;
}

.logeo:hover{
    background: #1565C0 !important;


}
.logeo2{
  border-radius: 25px;
  font-family: 'Rubik', sans-serif;
  font-size: 1.1em;
  font-weight: bold;
}

.logeo4{
  padding-left: 1%;
  padding-right:  1%;
  border-radius: 25px;
  font-family: 'Rubik', sans-serif;
  font-size: 1.1em;
  font-weight: bold;
}
.mostaza{
  background: #ec810f !important;
}
.azulSunn{
  background: #1565C0;
}

.letraMostaza{
  color:  #ec810f !important;
}
.logo2{
  width: 20px;
  margin-left: 100%;
  left: 0;
}
.logo3{
  width: 20px;
  margin-left: 100%;
  left: 0;
}
.inicio{
  margin-top: -5%;
  width: 100%;
}


.inicio2{
  z-index: 1;
  margin-top: -5%;
  width: 100%;
}
.rasco{
  height: 700px;
  overflow: hidden;
}
.parrafoInicial{
  margin-left: 2%;
  z-index: 100;
  margin-top: -50%;
  width: 80%;

}
.parrafoInicial h1{
  font-size: 5em;

}
.parrafoInicial p{
  font-size: 2em;
}
.que{
  background: url(/images/azul.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -3%;
  height: 550px;
}
.que h1 p{
  font-weight: bold;
}
.iconosPie{
    width: 75px;
    margin-left: 50px;

}

.beneficios{

  width: 100px;
  height: 100px;
  padding: 0px;
  border: solid 1px #ec810f;
  border-radius: 100%;
}
.beneficios:hover{
  width: 21%;
  padding: 5px;
  background: #1465c040;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease
}
.cajonBeneficio:hover{
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  background: #ababab63;
}
.listadoBeneficios{
  display: inline-flex;
}
.tituloBeneficio{
  font-size: 2em;
  color: #1565C0;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.tituloBeneficio3{
  color: #1565C0;
  font-weight: bold;
}
.tituloBeneficio4{
  color: #1565C0;
  font-size: 1.1em;
}
.tituloBeneficio4:hover{
  color:  #ec810f;
  font-size: 1.2em;
}


.tituloBeneficio:hover{
  font-size: 2.1em;
  color: #353535;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;

}
.tituloBeneficio2{
  font-size: 1.5em;
  margin-top: 2%;
  color: #353535;
}

.chequeoSunn{
  background: #ec810f;
  border-radius:  100%;

}
.contenedorSunn{
  background: #f3f3f3;
}
.regis{
  border-radius: 25px;
  padding-left: 2%;
  padding-right: 2%;
}
.regis:hover{
  background: #ec810f !important;
}
.regis2{
  border-radius: 25px;
  padding-left:  5%;
  padding-right:  5%;
  padding-top: 1%;
  padding-bottom: 1%;
}
.z-depth-3{

}
.card{
  padding: 5%;
  border-radius: 50px !important;
}
.card-content:hover{
  background: #ababab63;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease
}
.verReto{
  padding-left: 4%;
  padding-right: 4%;
  border-radius:25px;
  background: white;
  border: solid 1px #ec810f;
  color:  #ec810f;
}
.verReto:hover{
  background: #ec810f;
  color: white;

}
.retoLogo{
  width: 5%;
  margin-right: 10px;
}
.listRetos{
  display: inline-flex;
}
.pie{
  background: #000000d4;
}
.listadoPie{
  display: inline-flex;
}
.pieRedes{
  font-size: 1em;
  margin-left: 30%;
}

.linksFechas{
  width: 100%;
  bottom: 1px !important;
}
.formularioLogin{
  width: 100%;
  z-index: 502;
  margin-top: -1%;
}
.cajonFormulario{
  width: 100%;
  height: 80%;
  border-radius: 10px;
}
.logeoIndex{
  position: relative;
  margin-top: -55%;


}
.conte{
  width: 100%;
}
.perfilTe:hover{
  color:#1565C0 !important;
}
.listadoFehcas{
  display: inline-flex;
}
.simulado{
  margin-top: 2%;
}
@media (max-width:950px) {
  .Simulado{
    margin-top: 20%;
  }
  .listadoBeneficios{
    display: block;
  }
  .rasco {
    height: 320px;
  }
  .parrafoInicial h1{
    font-size: 2em;
    margin-top: -55%;

  }
  .parrafoInicial p{
    font-size: 1.1em;

  }

  .logo{
    margin-left: 30%;
    width: 50%;
  }

}
